<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Storage Page</title>
	</head>
	<body>
		{% if categories %}

		<ul>
			{% for category in categories %}

			<li>
				<a href="{% url 'storage:category' category.id %}"
					>{{ category.name }}</a
				>
			</li>

			{% endfor %}
		</ul>

		{% else %}

		<p>No categories are avaible.</p>

		{% endif %} {% if items %}

		<ul>
			{% for item in items %}

			<li><a href="{% url 'storage:item' item.id %}">{{item}}</a></li>

			{% endfor %}
		</ul>

		{% else %}

		<p>No items are avaible.</p>

		{% endif %}
	</body>
</html>
