<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Item Details Page</title>
	</head>
	<body>
		<ul>
			<form action="{% url 'items:delete' item.id %}" method="post">
				{% csrf_token %}
				<fieldset>
					<legend><h1>{{ item }}</h1></legend>
					<p>Categoria: {{ item.category }}</p>
					<p>Descrição: {{ item.description }}</p>
					<p>Data de Publicação: {{ item.pub_date }}</p>
				</fieldset>
				<input type="submit" value="Delete Item" />
			</form>
		</ul>
	</body>
</html>
