services:
  app:
    build: ./app
    container_name: www.app.almoxarifado.com
    ports:
      - 8080:8080
    env_file:
      - ./app/.env
    environment:
      - NODE_ENV=production
    depends_on:
      - api
    networks:
      - public
    restart: unless-stopped

  api:
    build: ./api
    container_name: www.api.almoxarifado.com
    ports:
      - 8000:8000
    env_file:
      - ./api/.env
    networks:
      - public
    restart: unless-stopped

networks:
  public:
    driver: bridge
