<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Category Details Page</title>
	</head>
	<body>
		<ul>
			<form
				action="{% url 'categories:delete' category.id %}"
				method="post"
			>
				{% csrf_token %}
				<fieldset>
					<legend><h1>{{ category }}</h1></legend>
					<p>Nome: {{ category.name }}</p>
					<p>Descrição: {{ category.description }}</p>
				</fieldset>
				<input type="submit" value="Deletar Categoria" />
			</form>
		</ul>
	</body>
</html>
